{% extends 'base.html' %}
{% block body %}
<div id = "cart-table-target">{{ mycart|safe }}</div>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

<script type="text/javascript">

function update_count(mystr) {
    data = mystr.split(",");
    m_id = data[0];
    m_qty = data[1];
    selector = "span#melon-qty-" + m_id
    $(selector).html(m_qty);
    console.log(mystr);
};

// function update_count(data){
//     console.log(data);
// };

function updateCart(cartdata){
    var target = $("div#cart-table-target");
    target.html(cartdata);
    console.log(cartdata);
};

function increase() {
    var target = $(this).siblings("span");
    var melon_id = target.attr("data-melon-id");
    var handler = "/increase/" + melon_id
    $.get(handler, updateCart);
    return false;
};

function decrease() {
    var target = $(this).siblings("span");
    var melon_id = target.attr("data-melon-id");
    var handler = "/decrease/" + melon_id
    $.get(handler, update_count);
    return false;
};

function main(){
    var increase_button = $("a.increase-btn");
    increase_button.click(increase);

    var decrease_button = $("a.decrease-btn");
    decrease_button.click(decrease);
};

$(main);

</script>
{% endblock %}
